header{
    height: 80px;
    position: fixed;
    background-color: blueviolet;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    display: flex;
    top: 0px;
    z-index: 1;
}
.people{
    
    height: 30.93753433227539px;
    width: 42.18772506713867px;
    margin-left: 213px;
    margin-top: 25.03px;
    
}
img{
    margin-top: 16px;
    margin-left: 22px;
   
}
body{
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
   
}
footer{
    position: fixed;
    bottom:0px;
    left: 0px;
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
input{
    width: 145px;
    height: 30px;
    margin-left: 17px;
    margin-top: 25px;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border: solid transparent;
}
.icone{
    height: 26px;
    width:26px;
    margin-top: 27px;
    margin-left: 169px;
}
aside{
    width: 259px;
    position: fixed;
    height: 100%;
    left: 118px;
    top:0px;
    background-color: blanchedalmond;
    z-index: 1;

}
.oculto{
    display: none;
}
.msg{
    margin-top: 5px ;
    width: 100%;
    height:auto;
    display: flex;
    padding: 13px;
    align-items:  center;
    border-radius: 2px;
    display: block;
    justify-content: space-around;
    font-size:14px;

}
.entrouousaiu{
    background-color: #DCDCDC;
    ;
}
.normal{
    background-color: #FFFFFF;
}
.msg .hora{
    color: #AAAAAA;
}
.msg .name{
   color: #000000;
   font-weight: 700;
   margin-right: 7px;
   margin-left: 5px;
}

.chat{
    margin-top: 109px;
    margin-bottom: 85px;
}
.reservadamente{
    background-color:#FFDEDE;

}